body {
  display: grid;
  margin: 0;
  color: #fff;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-image: linear-gradient(to bottom, #020917, #101725, norepeat);
}

head-bar-container {
  height: 5vh;
}

file-tab {
  height: 5vh;
  width: 10vh;
}

tool-box {
  width: 20vw;
  height: 94vh;

  tb-classes {
    width: 5vh;
    height: 94vh;

    tb-class {
      width: 5vh;
      height: 5vh;
    }
  }
}
